body {
    margin: 0;
    background: #0f172a;
    color: #e5e7eb;
    font-family: Arial, sans-serif;
}

#top {
    padding: 10px;
    background: #020617;
    border-bottom: 1px solid #1e293b;
}

#chart {
    height: 520px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    font-size: 13px;
}

th, td {
    border-bottom: 1px solid #1e293b;
    padding: 6px;
    text-align: center;
}

th {
    background: #020617;
}
